<header>
    <nav>
      <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
        <div fxFlex="40">
          <a mat-raised-button routerLink="/">
            {{ 'home' | translate }}
          </a>
          <a mat-raised-button [routerLink]="getHeroListLink()">
            {{ 'hero list' | translate }}
          </a>
          <a mat-raised-button [routerLink]="getHeroArrayLink()">
            {{ 'hero array' | translate }}
          </a>
        </div>
        <div fxFlex class="text--right">
          <app-search-bar [defaultHeroes$]="defaultHeroes$" ></app-search-bar>
          <button aria-label="select language button" mat-button [matMenuTriggerFor]="matmenu">
            <mat-icon>language</mat-icon>
          </button>
          <mat-menu #matmenu="matMenu">
            <div mat-menu-item *ngFor="let lang of languageGroup">
              <button class="language-link"      
                 (click)="changeLanguage(lang['value'])">
                <mat-icon>flag</mat-icon>
                <span>{{ lang['label'] }}</span>
              </button>
            </div>
          </mat-menu>
        </div>
      </div>
    </nav>
    <!--section class="progress-bar">
      <mat-progress-bar [color]="'primary'" mode="indeterminate">
      </mat-progress-bar>
    </!--section-->
  </header>

